@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@*<div class="col-sm-7 col-sm-offset-2">

    <article class="article">
        <div class="panel panel-default test-panel">*@
<br />

@foreach (var item in Model)
{
    <article class="article">
            <center>
                <div class="col-sm-7 col-sm-offset-2 pricing-box">
                    <div class="widget-box widget-color-green">
                        <div class="widget-header">
                            <h5 class="widget-title bigger lighter">@item.SınavAdi</h5>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main">
                                <div class="price">
                                    <i class="ace-icon fa fa-tachometer bigger-110"></i>
                                    <small>@Html.Raw(item.SınavSüresi)dk</small>
                                </div>
                            </div>

                            <div>
                                <a href="~/Home/CevapDetay/@item.SınavID" class="btn btn-block btn-primary">
                                    <i class="ace-icon fa fa-bar-chart-o bigger-110"></i>
                                    <span>Sınav Sonuçları</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            </center>
    </article>

                            @*<div class="panel-heading">
                    <h2>
                        <a href="~/Home/CevapDetay/@item.SınavID">@item.SınavAdi</a> Sınav Süresi:  @Html.Raw(item.SınavSüresi)dk
                    </h2>
                </div>*@

}

        @*</div>
    </article>
</div>*@

@*<div class="row">
    <div class="col-xs-6 col-sm-3 pricing-box">
        <div class="widget-box widget-color-dark">
            <div class="widget-header">
                <h5 class="widget-title bigger lighter">Basic Package</h5>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <ul class="list-unstyled spaced2">
                        <li>
                            <i class="ace-icon fa fa-check green"></i>
                            10 GB Disk Space
                        </li>

                        <li>
                            <i class="ace-icon fa fa-check green"></i>
                            200 GB Bandwidth
                        </li>

                        <li>
                            <i class="ace-icon fa fa-check green"></i>
                            100 Email Accounts
                        </li>

                        <li>
                            <i class="ace-icon fa fa-check green"></i>
                            10 MySQL Databases
                        </li>

                        <li>
                            <i class="ace-icon fa fa-check green"></i>
                            $10 Ad Credit
                        </li>

                        <li>
                            <i class="ace-icon fa fa-times red"></i>
                            Free Domain
                        </li>
                    </ul>

                    <hr />
                    <div class="price">
                        $5
                        <small>/month</small>
                    </div>
                </div>

                <div>
                    <a href="#" class="btn btn-block btn-inverse">
                        <i class="ace-icon fa fa-shopping-cart bigger-110"></i>
                        <span>Buy</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-sm-3 pricing-box">
        <div class="widget-box widget-color-orange">
            <div class="widget-header">
                <h5 class="widget-title bigger lighter">Starter Package</h5>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <ul class="list-unstyled spaced2">
                        <li>
                            <i class="ace-icon fa fa-check green"></i>
                            50 GB Disk Space
                        </li>

                        <li>
                            <i class="ace-icon fa fa-check green"></i>
                            1 TB Bandwidth
                        </li>

                        <li>
                            <i class="ace-icon fa fa-check green"></i>
                            1000 Email Accounts
                        </li>

                        <li>
                            <i class="ace-icon fa fa-check green"></i>
                            100 MySQL Databases
                        </li>

                        <li>
                            <i class="ace-icon fa fa-check green"></i>
                            $25 Ad Credit
                        </li>

                        <li>
                            <i class="ace-icon fa fa-check green"></i>
                            Free Domain
                        </li>
                    </ul>

                    <hr />
                    <div class="price">
                        $10
                        <small>/month</small>
                    </div>
                </div>

                <div>
                    <a href="#" class="btn btn-block btn-warning">
                        <i class="ace-icon fa fa-shopping-cart bigger-110"></i>
                        <span>Buy</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-sm-3 pricing-box">
        <div class="widget-box widget-color-blue">
            <div class="widget-header">
                <h5 class="widget-title bigger lighter">Business Package</h5>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <ul class="list-unstyled spaced2">
                        <li>
                            <i class="ace-icon fa fa-check green"></i>
                            200 GB Disk Space
                        </li>

                        <li>
                            <i class="ace-icon fa fa-check green"></i>
                            Unlimited Bandwidth
                        </li>

                        <li>
                            <i class="ace-icon fa fa-check green"></i>
                            1000 Email Accounts
                        </li>

                        <li>
                            <i class="ace-icon fa fa-check green"></i>
                            200 MySQL Databases
                        </li>

                        <li>
                            <i class="ace-icon fa fa-check green"></i>
                            $25 Ad Credit
                        </li>

                        <li>
                            <i class="ace-icon fa fa-check green"></i>
                            Free Domain
                        </li>
                    </ul>

                    <hr />
                    <div class="price">
                        $15
                        <small>/month</small>
                    </div>
                </div>

                <div>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="ace-icon fa fa-shopping-cart bigger-110"></i>
                        <span>Buy</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-sm-3 pricing-box">
        <div class="widget-box widget-color-green">
            <div class="widget-header">
                <h5 class="widget-title bigger lighter">Ultimate Package</h5>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <ul class="list-unstyled spaced2">
                        <li>
                            <i class="ace-icon fa fa-check green"></i>
                            Unlimited Space
                        </li>

                        <li>
                            <i class="ace-icon fa fa-check green"></i>
                            Unlimited Bandwidth
                        </li>

                        <li>
                            <i class="ace-icon fa fa-check green"></i>
                            Unlimited Email Accounts
                        </li>

                        <li>
                            <i class="ace-icon fa fa-check green"></i>
                            Unlimited MySQL Databases
                        </li>

                        <li>
                            <i class="ace-icon fa fa-check green"></i>
                            $50 Ad Credit
                        </li>

                        <li>
                            <i class="ace-icon fa fa-check green"></i>
                            2 Free Domains
                        </li>
                    </ul>

                    <hr />
                    <div class="price">
                        $25
                        <small>/month</small>
                    </div>
                </div>

                <div>
                    <a href="#" class="btn btn-block btn-success">
                        <i class="ace-icon fa fa-shopping-cart bigger-110"></i>
                        <span>Buy</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>*@